:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --primary : rgb(45, 45, 223);
  --navbar:#2c2d31;
  --code:#15161a;
  --nameArea:#1e1f23;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body{
  font-size: 1.5rem;
}
.container{
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container textarea, .container iframe{
  width: 100%;
  height: 100%;
}
svg{
  width: 24px;
  height: 24px;
}
nav{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2c2d31;
}
nav span{
  padding-right: 10px;
  padding-left: 10px;
}
.logo{
  font-weight: 700;
  font-size: 2rem;
  border-right: 1px solid white;
}
.formName,.formName_change,.formName_change_container,.buttons_menu{
  display: flex;
  align-items: center;
}
.formName_change{
  margin-left: 8px;
}
.formName_change span{
  font-size: 1.5rem;
}
.formName_change input{
  border: none;
  font-size:1.4rem ;
  padding-left: 10px;
  background:var(--navbar);
}
.formName_change_container{
  flex-direction: column;
  align-items: start;
}
.buttons_menu{
  margin-right: 10px;
}
.delete{
  background: none;
  border: none;
  padding: 5px;
  
}

.download{
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 5px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
}
.delete:hover, .download:hover{
  background: #747bff;
}

textarea{
  padding: 10px;
  font-size: 1.4rem;
  background-color: var(--code);
  border: none;
  border-right: 2px solid white;
}
iframe{
  background:var(--code);
  border: none
}
.identifier{
  height: 40px;
  width: 100%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hidden{
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
